* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

input {
    border: none;
    padding: 10px;
    background-color: white;
}


/*Clases---------------------------------------------------------------------------------------------------*/

.login-main {
    background: url(../media/2431350.jpg) no-repeat fixed center;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin: auto
}

.head h3 {
    color: #244687;
}

.logo img {
    width: 200px;
    height: auto;
}

.input {
    font-weight: bolder;
    background-color: rgba(128, 128, 128, 0.248);
    border-radius: 8px;
    min-width: 300px;
}

.input::-webkit-input-placeholder {
    color: rgba(128, 128, 128, 0.604);
}


/*FinClases---------------------------------------------------------------------------------------------------*/


/*Id's---------------------------------------------------------------------------------------------------*/

#log {
    clear: both;
    text-align: center;
    border: none;
    padding: 5px 50px 5px 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: #244687;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


/*FinId's---------------------------------------------------------------------------------------------------*/