* {
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

ul {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 0;
}

li {
    text-align: center;
}


/*Clases---------------------------------------------------------------------------------------------------*/

.search-bar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search-bar input {
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    padding: 11px;
    width: 700px;
}

.inv-buttons {
    display: flex;
    justify-content: space-around;
}

.inv-buttons button {
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
}

.suc-buttons {
    display: flex;
    justify-content: space-around;
}

.suc-buttons button {
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
}

.emp-buttons {
    display: flex;
    justify-content: space-around;
}

.emp-buttons button {
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
}

.type {
    height: auto;
    transform: skew(15deg);
    padding: 30px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
}

.main-buttons div {
    display: flex;
}


/*FinClases---------------------------------------------------------------------------------------------------*/


/*Id's---------------------------------------------------------------------------------------------------*/


/*FinId's---------------------------------------------------------------------------------------------------*/