@media (max-width:400px) {
    button {
        max-width: 80px;
        font-size: 10px;
        padding: 10px;
    }
    li {
        margin: 0;
    }
}

@media(min-width:401px) {
    button {
        max-width: 90px;
        font-size: 10px;
        padding: 10px;
    }
    li {
        margin: 0;
    }
}

@media(min-width:500px) {
    #type {
        max-width: 110px;
        font-size: 15px;
        padding: 10px;
    }
    li {
        margin: 0;
    }
}

@media (min-width:670px) {
    #type {
        max-width: 160px;
        font-size: 20px;
        padding: 10px;
    }
    li {
        margin: 0;
    }
}