* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(../media/login-wallpaper.jpg) no-repeat fixed center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

label {
    font-weight: 700;
    margin-right: 10px;
    font-size: 20px;
}

input {
    border: none;
    padding: 10px;
    background-color: white;
}


/*Clases---------------------------------------------------------------------------------------------------*/

.login-main {
    transform: translate(0%, 55%);
    display: grid;
    row-gap: 20px;
    grid-template-areas: 'head head head head head ''form form form form form ';
    text-align: center;
}

.head {
    grid-area: head;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario {
    grid-area: form;
}


/*FinClases---------------------------------------------------------------------------------------------------*/


/*Id's---------------------------------------------------------------------------------------------------*/

#log {
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

#contraseña {
    width: 150px;
}


/*FinId's---------------------------------------------------------------------------------------------------*/